<h3>Neu Ort hinzufügen</h3>
<form method="post" action="/location/add">
    <input type="text" name="locationname" placeholder="Ort">
    <input type="text" name="locationlabel" placeholder="Firma">
    <input type="text" name="locationstreet" placeholder="Straße">
    <input type="text" name="housenumber" placeholder="Hausnummer">
    <input type="text" name="zipcode" placeholder="PLZ">
    <input type="text" name="floornumber" placeholder="Etage">
    <input type="text" name="roomnumber" placeholder="Zimmer">
    <input type="submit" value="senden">
</form>
<h3>Ort Liste</h3>
<ul>
<% mytest.forEach(function (location){ %>
    <li>
        <h4><%= location.key.locationlabel %></h4>
        <p><%= location.key.locationname %></p>
        <ul>
            <li><%= location.key.locationstreet %></li>
            <li><%= location.key.housenumber %></li>
            <li><%= location.key.zipcode %></li>
            <li><%= location.key.locationname %></li>
            <li><%= location.key.floornumber %></li>
            <li><%= location.key.roomnumber %></li>
        </ul>
            <form method="post" action="/location/delete/<%= location._id %>">
            <input type="hidden" value="<%= location.rev %>" name="rev">
            <input type="submit" value="löschen">
        </form>
    </li>
<% }); %>
</ul>